* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #8cd9e0;
    background-image: url(Images/texture.png);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countBox {
    width: 20%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    height: 7rem;
    display: none;
    opacity: 0;
}

.count {
    margin-left: 1rem;
    font-family: "Fjalla One", sans-serif;
    font-size: 5rem;
    opacity: 0;
    display:none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 25%;
    border: 10px solid #274060;
    background-color: #80A4ED;
    border-radius: 3rem;
    font-size: 4rem;
}

.ruleBox {
    width: 50%;
    height: 40%;
    position: absolute;
    top: 60%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dbf3f0;
    border: solid #274060;
    border-width: 10px 10px 0;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.paperBox {
    position: absolute;
    bottom: -50%;
    width: 40%;
    height: 50%;
    background-image: url(/Images/paper.png);
    background-size: cover;
}

.paperText {
    position: relative;
    display:block;
    word-wrap: break-word;
    top: 14%;
    left: 15%;
    width: 80%;
    height: 9%;
    font-size: 2rem;
    line-height: 2.9rem;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(150%);
    }
}

@keyframes slideDownPaper {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 1s ease forwards;
}

.fadeOut {
    animation: fadeOut 1s ease forwards;
}

.slideDown {
    animation: slideDown 2s ease forwards;
}

.slideDownPaper {
    animation: slideDownPaper 2s ease forwards;
}

.slideUp {
    animation: slideUp 2s ease forwards;
}

.rules {
    width: 50%;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
}

.start {
    font-family: 'Anton', sans-serif;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid #274060;
    background-color: #8cd9e0;
    font-size: 2rem;
    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.4);
}

.start:hover {
    background-color: #75b2b8;
    cursor: pointer;
}

.start:active {
    box-shadow: none;
}

.start:disabled, .short:disabled, .medium:disabled, .long:disabled {
    color: black;
}

.choose {
    margin: 0 auto;
    font-size: 3rem;
}

.difficultyBox {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    bottom: 10%;
    width: 50%;
    height: 40%;
    background-color: #dbf3f0;
    border-radius: 40px;
    border: solid 5px #274060;
}

.difficultyBox button {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #80A4ED;
    border: 5px solid #274060;
    border-radius: 40px;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    width: 20%;
    margin: 20px 0;
}

.difficultyBox button:hover {
    background-color: #627db4;
}

.selectionBox {
    display:flex;
    justify-content: space-around;
    height: 70%;
}

.rating {
    width: 100%;
}

.youTypedAt {
    display: none;
    opacity: 0;
    height: fit-content;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}

@keyframes golden {
    0% {
        color: #eaff00;
    }
    50% {
        color: #a4b300;
    }
    100% {
        color: #eaff00;
    }
}

.goldenText {
    animation: golden 1s linear infinite;
}

.wpm {
    display: none;
    opacity: 0;
    height: fit-content;
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
}

.expBox {
    display: none;
    flex-direction: column;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 20%;
}

.expText {
    width: 100%;
    font-size: 3rem;
    font-family: "Fjalla One", sans-serif;
    margin-bottom: 1rem;
}

.beginner {
    position: relative;
    display: inline;
    left: 7%;
}

.intermediate {
    position: relative;
    display: inline;
    left: 18%;
}

.advanced {
    position: relative;
    display: inline;
    left: 29%;
}

.expert {
    position: relative;
    display: inline;
    left: 43%;
}

.experienceBar {
    display: flex;
    width: 80vw;
    height: 100px;
}

.experienceBar div {
    height: 100%;
}

@keyframes fillBackground {
    0%{
        background-size: 0% 100%;
    }
    100%{
        background-size: 100% 100%;
    }
}

.section1Background {
    background: linear-gradient(to right, #31e03a 100%, transparent 0%);
}

.section2Background {
    background: linear-gradient(to right, #ffff29 100%, transparent 0%);
}

.section3Background {
    background: linear-gradient(to right, #ff9d00 100%, transparent 0%);
}

.section4Background {
    background: linear-gradient(to right, #ff2929 100%, transparent 0%);
}

.section1Background, .section2Background, .section3Background, .section4Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

.animateFill {
    animation: fillBackground 1s linear forwards;
}

.section1, .section2, .section3, .section4 {
    position: relative;
    overflow: hidden;
    width: 20vw;
    border: 5px solid black;
}

.section2, .section3, .section4 {
    border-left: none;
}