button {
    padding: 50px;
    margin: 50px;
    background-color: red;
    border-radius: 50px;
    font-size: 50px;
}

body {
    width: 100vw;
    height: 100vw;
    background-image: url('./Lobster.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button:hover {
    background-color: rgb(231, 80, 80);
    cursor: pointer;
}

button:active {
    box-shadow: 0px 0px 20px black;
}